DUCKDB_DATABASE=/app/data/budget.db
POSTGRES_DB=budget
POSTGRES_USER=usr
POSTGRES_PASSWORD=pwd
POSTGRES_DSN=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
TZ=America/Toronto
